# Ignorar workflows específicos do GitHub Actions
.github/workflows/security-ci-cd.yml
.github/workflows/sca.yml
.github/workflows/sast.yml
.github/workflows/dast.yml

# Ignorar relatórios e logs
semgrep-report.txt
snyk-report.txt
zap-report.txt
*.log

# Cache e arquivos temporários do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
.env/
.env.*

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
